
html, ul,li, a, h1, h2, h3, p, body {
    margin:0;
    padding:0;
    border:0;
   
}

hr {
    width: 100%;
}
html, body {
    height:100%;
}

#main-nav-bar {
    overflow:hidden;
    width:100%;
    height:70px;
    background-color:#273331;
}

#main-nav-bar ul {
    display: inline-block;
}

#main-nav-bar li {
    display:inline-block;
   height:100%;
   line-height: 70px;
       margin-left:20px;
    
}

#main-nav-bar li a {
     align-content: center;
    display:inline-block;
    text-decoration: none;
    font-family: sans-serif;
    color:lightgoldenrodyellow;
    font-size: 22px;
}

#main-nav-bar li a.page-bacheca {
    color:  #071616;
}

#main-nav-bar ul li h1 {
    display:inline-block;
    color: lightgoldenrodyellow;
    font-family:sans-serif;
    font-size:30px;
    width:200px;
}

#main-nav-bar li a:hover{
    color:#4b918b;
    font-size: 23px;
}

#left-side-nav-bar {
    overflow:hidden;
    float:left;
    padding-left:20px;
    padding-top:40px;
    width:20%;
    height:100%;
    min-height:100%;
    background-color:  #e0ecff;
}

#left-side-nav-bar.people-container {
    width: 100%;
    height: 25px;
}
#left-side-nav-bar input {
    width:150px;
    height:20px;
    margin-bottom:20px;
    padding:5px;
}

#left-side-nav-bar h2 {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size:20px;
    margin-top:10px;
}

#left-side-nav-bar h3 {
    display:inline-block;
    line-height: 25px;
    font-size: 16px;
    font-family: sans-serif;
}

#left-side-nav-bar img {
    display:inline-block;
    height:25px;
    line-height: 25px;
}

#right-side {
    float:right;
    width:75%;
        height:100%;
    min-height:100%;
}

#logout-container {
    float:right;
    margin-right:40px;
    display: inline-block;
    text-align:center;
}

#logout-link {
    text-decoration: underline;
    font-family: sans-serif;
    font-size:14px;
    color:white;
    margin-top:5px;
    
}

#logout-name-container h3, #logout-name-container img {
    display:inline-block;
}

#logout-name-container h3 {
    font-family: sans-serif;
    font-size:16px;
    color:white;
}

#logout-name-container img {
    width: 25px;
    height: 25px;
}

.form-new-post-row img, .form-new-post-row input {
    display:inline-block;
}

#form-new-post-container {
    padding-top: 40px;
    width:100%;
}

#form-new-post-container h2 {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-new-post-row {
    height: 40px;
}

.form-new-post-row h3 {
    display:inline-block;
    font-family: sans-serif;
    font-size:16px;
    margin-right:20px;
}

.form-new-post-row input {
    height: 25px;
    padding:5px;
}

.form-type-text input{
    width:150px;
}

.form-new-post-row img {
    width: 25px;
    height: 25px;
    margin-top:auto;
    margin-bottom:auto;
    margin-right: 15px;
}

.form-new-post-row .submit-button {
    display:block;
    margin-left: 60px;
    margin-top:20px;
    width:100px;
    height:30px;
}

#my-status-container {
    margin-top: 20px;
}

#my-status-container h3 {
    display:inline-block;
    font-family: sans-serif;
    font-size:16px;
}

#my-status-container img {
    display:inline-block;
    width: 25px;
    height: 25px;
}

#user-posts {
    margin-top:60px;
}

#user-posts .all-users-icon {
    display:inline-block;
    width:25px;
    height:25px;
}

#user-posts h3 {
    display:inline-block;
    font-family:sans-serif;
    font-size:16px;
    margin-bottom:10px;
}

.user-image {
    margin-top:10px;
    width:276px;
    height:77px;
    
}

#logo-container {
    width: 100%;
    margin-left:460px;
    margin-top:50px;
}

#logo-container h1 {
    display:inline-block;
    
}

#logo-container img {
    width: 54px;
    height: 44px;
    margin-right: 20px;
    padding-right: 30px;
}

#login-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

#login-form label {
    padding:5px;
    font-family: sans-serif;
    font-size: 18px;
}

#login-form input {
    height:20px;;
    width:200px;
    margin-top:5px;
    margin-bottom:5px;
}

#login-form button {
    margin-left:2px;
    width:150px;
    height:28px;
}

.profile-pic {
    
    float:left;
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

#profile-form {
    width:100%;
    margin-top:30px;
    margin-left: 30px;
}

#profile-form label {
    font-family: sans-serif;
    font-size:16px;
}

#profile-form input {
    height:25px;
    width:150px;
}

#profile-update-form label {
        font-family: sans-serif;
    font-size:16px;
}

#profile-update-form input {
        height:25px;
    width:150px;
}

#profile-button {
    margin-top:10px;
    margin-left: 70px;
    width:200px;
    height:25px;
}

#profile-update-form {
    margin-left: 200px;
    width:100%;
    margin-top:30px;
}